<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU5phWzZl1vtstz4COzct0CRrV-WRXOCw</string>
	<key>GCM_SENDER_ID</key>
	<string>715960513893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urbanCultureAssessment</string>
	<key>PROJECT_ID</key>
	<string>urban-c1572</string>
	<key>STORAGE_BUCKET</key>
	<string>urban-c1572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715960513893:ios:fae2b4a445a8017f769d8c</string>
</dict>
</plist>